[submodule "vulkan/modules/vkBasalt"]
	path = vulkan/modules/vkBasalt
	url = https://github.com/wheaney/vkBasalt.git
	branch = runtime_uniforms
[submodule "modules/XRLinuxDriver"]
	path = modules/XRLinuxDriver
	url = https://github.com/wheaney/XRLinuxDriver.git
[submodule "modules/sombrero"]
	path = modules/sombrero
	url = https://github.com/wheaney/sombrero.git
[submodule "ui/modules/PyXRLinuxDriverIPC"]
	path = ui/modules/PyXRLinuxDriverIPC
	url = https://github.com/wheaney/PyXRLinuxDriverIPC.git
